/* allgames.css */

/* Custom CSS for styling */
body {
    background-color: #666; /* Grey background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Ensure the content takes at least the full viewport height */
}

header {
    background-color: #000; /* Black navbar */
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

#header-title {
    margin: 0; /* Remove default margin */
    color: white; /* White text color */
}

nav {
    text-align: center; /* Center-align the navbar button */
}

nav a {
    text-decoration: none;
    color: white; /* White text color for the button */
    padding: 5px 10px;
    background-color: #333; /* Darker grey background color for the button */
    border-radius: 5px; /* Rounded button corners */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Allow the content to expand and take available space */
}

/* Style the embed to take up the entire screen */
/* Style the embed to take up the entire width */
embed {
    width: 100vw; /* 100% of the viewport width */
    height: calc(100vh - 50px); /* Subtract the navbar's height from the viewport height */
    border: none; /* Remove embed border if needed */
}

